@font-face {
    font-family: 'PT Serif';
    src: url('fonts/PTSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'PT Serif';
    src: url('fonts/PTSerif-Regular.ttf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/MuseoSans.otf') format('otf');
    font-weight: normal;
    font-style: cyrl;
}

@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/MuseoSansCyrl_1.otf') format('otf');
    font-weight: 1;
    font-style: cyrl;
}