.wrapper {
  margin: auto;
  height: 100vh;
  padding-left: 42px;
  width: 100%;
}

body {
  margin: 0;
  background: url(img/fon.png) no-repeat;
  color: #F8EEE4;
  background-size: cover;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5.5%;
}

.logo {
  width: 104px;
  height: 39px;
  background: url('img/Vector.png');
  margin-top: 63px;
}

.menu {
  display:flex;
  align-items: center;
  padding-top: 7%;
}

.menu__item { 
  width: 100%;
  height: 20px;
  left: calc(50% - 36px/2 + 134px);
  top: 75px;
  font-family: "Museo Sans";
  font-size: 16px;
  line-height: 19px;  
  margin-right: 26px;
  color: #F8EEE4;
  text-decoration: none;
  cursor: pointer;
}
.menu__item:hover {
  background-color: #F8EEE4;
  color: #104721;
  transition: opacity 0.5s;
  opacity: 0.5;
  border-radius: 10px;
}

.menu__item:last-child {
  margin-right: 24px;
}

.hamburger-menu {
  display: none;
}

.inner {
  display: flex;
  justify-content: space-between;
  margin-top: 17%;
  width: 50.5%;
}

.avatar {
  width: 44%;
  height: 300px;
  background-image: url(img/1.png);
  display: inline-block;
  margin-right: 24px;
  background-size: cover;
}
.userpic {
  width: 39%;
  height: 270px;
  background-image: url(img/2.png);
  display: inline-block;
  margin-top: 3%;
  margin-right: 24px;
  background-size: cover;
}
.image {
  width: 181px;
  height: 270px;
  background-image: url(img/3.png);
  display: inline-block;  
  margin-top: 3%;
  background-size: contain;
}

.main {
  display: inline-block;
  width: 40%;
  position: relative;
}

.main__title {
  font-size: 200px;
  margin: 0;
  margin-top: 23%;
  position: absolute; 
  font-family: "PT Serif";
  font-style: normal;
  line-height: 265px;  
  color: #F8EEE4;
  opacity: 0.4;
}

.main__ttl {
  margin: 0;
  margin-top: 63%;
  margin-left: 58px;
  position: absolute;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 93px;
  color: #F8EEE4;
}

.main__subtitle {
  margin-top: 89%;
  margin-left: 14px;
  width: 95%;
  height: 58px;
  font-family: "Museo Sans";
  font-size: 16px;
  line-height: 19px;
}

.main__button {
  position: absolute;
  width: 209px;
  height: 44px;
  background: #D4BEA3;
  border-radius: 48px;
  font-family: "Museo Sans";
  font-size: 16px;
  line-height: 44px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  margin-top: 8px;
  margin-left: 15px;
}

.main__button:hover {
  opacity: 0.6;
  transition: opacity 0.7s;
}

.contain {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width:900px) {
  .wrapper {
    padding: inherit;
  }

  .header {
    padding-left: 9%;
  }

  .logo {
    background: url('img/Vector.png') no-repeat top left;
    margin-top: 42px;
  }

  #menu__toggle {
    opacity: 0;
  }

  .hamburger-menu {
    display: block;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 52px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
    right: 12%;
  }

  .menu {
    display: none;
  }

  .main {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .main__title {
    font-size: 170px;
    margin-top: 9.5%;
    margin-right: 7%;
  }

  .main__ttl {
    margin-top: 53%;
    font-size: 60px;
  }

  .main__subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 81%;
    height: 87px;
    margin-top: 85.5%;
    text-indent: 11px;
    margin-right: 5.5%;
  }

  .main__button {
    margin-top: 118.5%;
    margin-right: 7.5%;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FCF5ED;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 186px 0;
    list-style: none;
    text-align: center;
    background-color: #E5E5E5;
    transition-duration: .25s;
    z-index: 1;
  }

  .menu__item_burger {
    position: relative;
    color: #000;
    font-family: 'Museo Sans';
    font-size: 30px;
    line-height: 36px;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 24px;
    padding-right: 16px;
    font-weight: 700;
    transition-duration: .25s;
  }

  .menu__item_burger:hover {
    background-color: #E5E5E5;
  }


  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: black;
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }
  

  .inner{
    display: none;
  }
}


@media screen and (min-width:900px) and (max-width:1024px) {
  .wrapper {
    margin: auto;
  }

  .image{
  width: 8%;
  background-size: cover;
  }

}

@media screen and (min-width:1025px) and (max-width:1366px) {
  .wrapper {
    width: 100%;
    margin: 0;
    padding-left: 10.5%;
  }

  .header {
    padding-right: 15%;
  }
  .menu {
    padding-top: 5.5%;
  }
  .main {
    width: 30%;
  }

  .inner{
    margin: 0;
    margin-top: 13%;
    width: 56%;
  }

  .avatar {
    width: 29%;
  }  

  .userpic {
    margin-top: 2%;
    width: 27%;
  }

  .image{
    margin-top: 1.5%;
    width: 38%;
    background-size: cover;
  }
}

@media screen and (min-width:1500px) and (max-width:1925px) {
  .wrapper {
    width: 100%;
    margin: 0;
    padding-left: 10.5%;
  }
  
  .logo {
    background-size: cover;
    width: 146px;
    height: 55px;
    margin-top: 5%;
  }

  .menu {
    margin-top: 5%;
    margin-right: 10.5%;
    padding-top: 0;
  }

  .menu__item {
    font-size: 22px;
    margin-right: 34px;
    font-weight: 700;
  }

  .main__title {
    font-size: 280px;
    margin-top: 182px;
  }

  .main__ttl {
    font-size: 98px;
    margin-top: 377px;
    margin-left: 81px;
  }

  .main__subtitle {
    font-size: 22px;
    margin-top: 511px;
    margin-left: 18px;
    width: 551px;
    height: 55px;
    line-height: 26px;
  }

  .main__button {
    width: 294px;
    height: 62px;
    font-size: 22px;
    margin-top: 36px;
    margin-left: 20px;
    line-height: 61px;
  }

  .inner {
    width: 56%;
    margin: 12.5% 0 0 0;
  }

  .avatar {
    width: 317px;
    height: 422px;
    background-size: cover;
    margin-right: 31px;
  }

  .userpic {
    width: 286px;
    height: 374px;
    background-size: cover;
    margin-right: 32px;
  }

  .image {
    height: 379px;
    background-size: cover;
    margin-top: 2.5%;
    width: 38%;
  }
}



  


