.wrapper {
  margin: auto;
  height: 100vh;
  padding-left: 42px;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: url(img/fon.png) no-repeat;
  color: #F8EEE4;
  background-size: cover;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98.5%;
}

.logo {
  width: 104px;
  height: 39px;
  background: url('img/Vector.png');
  margin-top: 63px;
}

.menu {
  display:flex;
  align-items: center;
  padding-top: 7%;
}

.menu__item { 
  width: 100%;
  height: 20px;
  left: calc(50% - 36px/2 + 134px);
  top: 75px;
  font-family: "Museo Sans";
  font-size: 16px;
  line-height: 19px;  
  margin-right: 26px;
  color: #F8EEE4;
  text-decoration: none;
  cursor: pointer;
}
.menu__item:hover {
  background-color: #F8EEE4;
  color: #104721;
  transition: opacity 0.5s;
  opacity: 0.5;
  border-radius: 10px;
}

.menu__item:last-child {
  margin-right: 24px;
}

.hamburger-menu {
  display: none;
}

.inner {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 52%;
  align-items: center;
}

.avatar {
  width: 44%;
  height: 300px;
  background-image: url(img/1.png);
  background-size: cover;
}
.userpic {
  width: 39%;
  height: 270px;
  background-image: url(img/2.png);
  background-size: cover;
}
.image {
  height: 270px;
  background-image: url(img/3.png);
  background-size: contain;
}

.main {
  width: 40%;
  align-items: center;
}

.main__title {
  font-size: 200px;
  margin: 0;
  font-family: "PT Serif";
  font-style: normal;
  line-height: 98px;  
  color: #F8EEE4;
  opacity: 0.4;
}

.main__ttl {
  margin: 0;  
  margin-left: 58px;
  font-family: "PT Serif";
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 63px;
  color: #F8EEE4;
}

.main__subtitle {
  margin: 7% 0 9% 4%;
  width: 100%;
  font-family: "Museo Sans";
  font-size: 16px;
  line-height: 19px;
}

.main__button {
  background: #D4BEA3;
  border-radius: 48px;
  font-family: "Museo Sans";
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  text-align: center;
  padding: 13px 62px;
  margin: 0 0 0 4%;
}

.main__button:hover {
  opacity: 0.6;
  transition: opacity 0.7s;
}

.contain {
  display: flex;
  justify-content: space-between;
  margin-top: 18%;
}

@media screen and (max-width:900px) {
  .wrapper {
    padding: inherit;
    box-sizing: content-box;
  }

  body {
    background: url(img/fon.png);
  }

  .header {
    padding-left: 11%;
    width: 89%;
  }

  .logo {
    background: url('img/Vector.png') no-repeat top left;
    margin-top: 42px;
  }

  #menu__toggle {
    opacity: 0;
  }

  .hamburger-menu {
    display: block;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 53px;
    width: 25px;
    height: 24px;
    cursor: pointer;
    z-index: 2;
    right: 9%;
  }
  .contain {
    margin-top: 32%;
    display: block;
  }

  .menu {
    display: none;
  }

  .main {
    width: 93%;
    text-align: center;
  }

  .main__title {
    font-size: 170px;
  }

  .main__ttl {
    font-size: 60px;
    line-height: 56px;
    margin-left: 74px;
  }

  .main__subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 84%;
    margin: 14% 16% 13% 12%;
  }

  .main__button {
    padding: 13px 62px;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FCF5ED;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 186px 0;
    list-style: none;
    text-align: center;
    background-color: #E5E5E5;
    transition-duration: .25s;
    z-index: 1;
  }

  .menu__box_burger {
    position: relative;
    color: #000;
    font-family: 'Museo Sans';
    font-size: 30px;
    line-height: 36px;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 24px;
    font-weight: 700;
    transition-duration: .25s;
  }

  .menu__box_burger:hover {
    background-color: #E5E5E5;
  }


  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
    background-color: black;
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: black;
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    transition-duration: .25s;
  }
  
  .inner{
    display: none;
  }
}


@media screen and (min-width:900px) and (max-width:1024px) {
  .wrapper {
    box-sizing: border-box;
  }

  .image{
  width: 8%;
  background-size: cover;
  }


}

@media screen and (min-width:1025px) and (max-width:1366px) {
  .wrapper {
    width: 100%;
    margin: 0;
    padding-left: 10.5%;
    box-sizing: border-box;
  }

  .header {
    width: 95%;
  }
  .contain {
    margin-top: 14%;
  }
  .menu {
    padding-top: 5.5%;
  }
  .main {
    width: 33%;
  }

  .inner{
    margin: 0;
    width: 51%;
  }

  .avatar {
    width: 36%;
  }  

  .userpic {
    margin-top: 2%;
    width: 32%;
  }

  .image{
    margin-top: 1.5%;
    width: 24%;
    background-size: cover;
  }
}

@media screen and (min-width:1367px) and (max-width:1925px) {
  .wrapper {
    width: 100%;
    margin: 0;
    padding-left: 10.5%;
    box-sizing: border-box;
  }
  .header {
    width: 100%;
  }
  
  .logo {
    background-size: cover;
    width: 146px;
    height: 55px;
    margin-top: 5%;
  }

  .menu {
    margin-top: 5%;
    margin-right: 5.5%;
    padding-top: 0;
  }

  .menu__item {
    font-size: 22px;
    margin-right: 34px;
    font-weight: 700;
  }

  .main {
    width: 32%;
  }

  .main__title {
    font-size: 280px;
    line-height: 176px;
  }

  .main__ttl {
    font-size: 98px;
    margin-left: 81px;
    line-height: 48px;
  }

  .main__subtitle {
    font-size: 22px;
    line-height: 26px;
    margin: 11% 0 7% 4%;
  }

  .main__button {
    font-size: 22px;
    line-height: 61px;
    padding: 17px 89px;
  }

  .contain {
    margin-top: 13%;
  }

  .inner {
    width: 51%;
  }

  .avatar {
    width: 36%;
    height: 422px;
    background-size: cover;
  }

  .userpic {
    width: 33%;
    height: 374px;
    background-size: cover;
  }

  .image {
    height: 379px;
    background-size: cover;
    width: 24%;
  }
}



  


